html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
body h1{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-family: cursive;
    color:deeppink;
}
.navbar {
    display: flex;
    color: pink;
    background-color: deeppink;
    padding: 5px;
    border-radius: 8px;
    margin: 20px;
    
}
.logo{
    font-size: 25px;
}
.navlinks{
    margin-left: auto;
    
}
.navlinks a{
    color: pink;
    text-decoration: none;
    margin-left: 15px;
    font-size: 25px;
}
.footer{
    background: deeppink;
    color: pink;
    text-align: center;
    margin-top: auto;
    width: 100%;;
}
.button{
    text-align: center;
    background-color: deeppink;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 25px;
}
.button a{
    text-decoration: none;
    color: pink;

}
.add-mem{
    background: pink;
    text-align: center;
    margin: 0 600px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: deeppink;
}
.add-mem p{
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
}

hr{
    height: 2px;
    background-color: deeppink;
}

.folder-card{
    color: deeppink;
    background-color: pink;
    width: 100%;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;

}

.folder-container {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    padding: 50px;
}

.folder-card h2,
.folder-card p {
    margin-left: 20px;
}
    
.media {
    color: pink;
    margin:auto;
    display: block;
}

.media-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.media-item {
    width: 100%;
    border-radius: 15px;
}

.media-item img,
.media-item video {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.media-item form {
    text-align: center;
    margin-top: 10px;
}

.media-item button {
    background-color: deeppink;
    color: pink;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}
#image-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#full-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
#close-viewer {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    z-index: 1001;
}
#previous-image,
#next-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    background: none;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

#previous-image {
    left: 30px;
}

#next-image {
    right: 30px;
}