html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
body h1{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-family: cursive;
    color:deeppink;
}
.navbar {
    display: flex;
    color: pink;
    background-color: deeppink;
    padding: 5px;
    border-radius: 8px;
    margin: 20px;
    
}
.logo{
    font-size: 25px;
}
.navlinks{
    margin-left: auto;
    
}
.navlinks a{
    color: pink;
    text-decoration: none;
    margin-left: 15px;
    font-size: 25px;
}
.footer{
    background: deeppink;
    color: pink;
    text-align: center;
    margin-top: auto;
    width: 100%;;
}
.button{
    text-align: center;
    background-color: deeppink;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 25px;
}
.button a{
    text-decoration: none;
    color: pink;

}
.add-mem{
    background: pink;
    text-align: center;
    margin: 0 600px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: deeppink;
}
.add-mem p{
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
}

hr{
    height: 2px;
    background-color: deeppink;
}

