{%extends 'base.html'%}
{%block title%}Memora - Add {%endblock%}
{%block content%}
    <h1>Create Mem folder</h1>
    <div class="add-mem">
    <form method="post" action="/create-mem-folder">
        <br>
    <p>Mem-Folder Name: <br><input type="text" requried name="folder_name" placeholder="Vacation-2026"></p><br>
    <p>Mem-Folder Description: <br><input type="text"  name="folder_description" placeholder=" A lovely journey to KTM" required></p>
    <br>
    <hr>
    <br>
    <button class="button">Create</button>
    </form>
</div>
{%endblock%}