<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <title>{%block title%}Memora{%endblock%}</title>
    </head>
   
    <body>
        <nav class="navbar">
        <div class="logo">Memora</div>
        <div class="navlinks">
        <a href="/">Home</a>
        <a href="/folders">Folders</a>
        <a href="/add">+ Add</a>
        </div>
    </nav>
        {%block content%}
        {%endblock%}
    </body>
    <footer class="footer">
        <p>&copy; 2026 Memora. All rights reserved</p>
    </footer>
</html>