{%extends 'base.html'%}
{%block title%}Memora - Mem-Folders {%endblock%}
{%block content%}
<h1> Your Mem-Folder Collection </h1>
<div class="folder-container">
{%for folder in folders%}
<div class="folder-card">
    <img src="{{url_for('static', filename='images/folder.png')}}">
    <h2>{{folder[1]}}</h2>
    <p>{{folder[2]}}</p>

    <form method="POST" action="/media-page/{{folder[0]}}">
    <button class="button" type="submit">VIEW</button>
    </form>

<br>
    <form method="POST" action="/delete-folder/{{ folder[0] }}">
    <button type="submit" onclick="return confirm('Delete this folder and all its media?')" class="button">
        Delete Folder
    </button>
</form>
</div>
    {%endfor%}

</div>
{%endblock%}
