{%extends 'base.html'%}
{%block title%} Memora - Media {%endblock%}

{%block content%}
<h1>Have fun recalling</h1>
<div class="media">
    <form method="post" action="/add-media" enctype="multipart/form-data">
    <input type="hidden" name="folder_id" value="{{ folder_id }}">
    <input name="media" type="file" id="media-upload" accept="image/*,video/*" multiple  hidden>
    <label for="media-upload" class="button">+ Add Media</label>
</form>
<div class="media-container">
        {% for item in media %}
            {%if item[2]=='image'%}
            <img src="{{url_for('serve_media', folder_name=folder_name, filename=item[3])}}">
            {%elif item[2] == 'video' %}
        <video controls>
            <source src="{{url_for('serve_media',folder_name=folder_name, filename=item[3])}}">
        </video>
        {%endif%}
        {%endfor%}
    </div> 
<script>
document.getElementById('media-upload').addEventListener('change', function () {
    this.form.submit();
});
</script>
</div>
{%endblock%}
